.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 3rem 0rem;
}
.contact .section__title {
  text-align: center;
}
.contact__form,
.contact__group{
  display: grid;
  row-gap: 1rem;  
}
.contact__form{
  position: relative;  
}
.contact__input{
  padding: .5rem .8rem;
  border-radius: .2rem;
  border: 2px solid var(--first-color-alt);
  background-color: var(--container-color);
  color: var(--text-color);
}
.contact__input::placeholder{
  color: var(--text-color-alt);
}
.contact__form textarea{
  height: 11rem;
  resize: none;
}
.contact .button{
  justify-self: center;
  cursor: pointer;
  font-size: 1rem;
}
.contact__message{
  position: absolute;
  left: 1rem;
  bottom: 4.5rem;
  font-size: var(--small-font-size);
  color: var(--title-color);
}